#Python
backend/.venv/
backend/__pycache__/
backend/.env

# FAISS Vector Database (Generated locally, no need to track)
backend/faiss_index/

# Node Modules & Build Output
frontend/node_modules/
frontend/dist/
frontend/.env