#Python
backend/.venv/
__pycache__/
backend/.env
*.pyc


# FAISS Vector Database (Generated locally, no need to track)
backend/faiss_index/

# Node Modules & Build Output
frontend/node_modules/
frontend/dist/
frontend/.env

# Security / Secrets
backend/gcp-credentials.json
*.env

# Large SDKs & Installers
google-cloud-sdk/
*.tar.gz

# Firebase Cache
frontend/.firebase/

# Test files (Keep repo clean)
backend/test_*.py
backend/test_object.txt