fastapi
uvicorn[standard]
python-multipart
httpx
python-dotenv
pypdf
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-openai
langchain-chroma
langchain-experimental
sentence-transformers
chromadb
google-cloud-storage
google-cloud-vision
fpdf
firebase-admin
beautifulsoup4
rank_bm25
flashrank
